.textAlignCenter {
  text-align: center;
}
.marginTop20{
  margin-top: 20px;
}
.colorGreen{
   color: #e8960f;
}
.colorRed {
  color: red;
}
.bgColorGry{
  background-color: #d6e2eb;
  padding-bottom: 20px;
}